body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .wrapper {}

  .list {
    background-color: rgba($color: #000000, $alpha: 0.1);
    width: 300px;
    height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .list__header {
      background-color: rgba($color: #000000, $alpha: 0.3);
      width: 100%;
      height: 1.25rem;
      display: flex;
      justify-content: space-between;
      order: -1;

      .list__search {}

      .list__indicator {}
    }

    .list__row {
      display: flex;
      justify-content: space-between;

      >div:first-child {
        padding: 0 0 0 24px;
        background-position: 0;
        background-size: 1rem;
        background-repeat: no-repeat;
      }
    }
  }
}
