body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #09100d;
  color: aliceblue;
}
body .hidden {
  opacity: 0;
  visibility: hidden;
}
body .content {
  display: flex;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: white;
}
body .content .list {
  margin-bottom: 1rem;
  position: relative;
  padding: 0 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 25vw;
  min-width: 300px;
  max-width: 400px;
  height: 40vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
body .content .list .list__header {
  position: sticky;
  top: 0;
  background-color: lightgrey;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: -1;
}
body .content .list .list__header .keyboard-button {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/img/keyboard-button.svg);
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.075s, opacity 0.075s;
}
body .content .list .list__header .keyboard-button:hover {
  transform: scale(1.2);
}
body .content .list .list__header .keyboard-button:active {
  opacity: 0.5;
  transform: scale(1.1);
}
body .content .list .list__header .list__search {
  width: 30%;
}
body .content .list .list__header .list__search,
body .content .list .list__header .list__indicator {
  outline: none;
}
body .content .list .list__row {
  display: flex;
  justify-content: space-between;
  cursor: default;
}
body .content .list .list__row > div:first-child {
  padding: 0 0 0 24px;
  background-position: 0;
  background-size: 1rem;
  background-repeat: no-repeat;
  width: 100%;
}
body .content .list .list__row:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body .content .list .list__row_active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
body .content .table-wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 30vh;
  max-width: 1024px;
  min-width: 300px;
}
body .content .table-wrapper .row {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
body .content .table-wrapper .row div {
  width: 100%;
  padding: 1rem;
}
body .content .table-wrapper .row button {
  width: 40%;
  cursor: pointer;
  font-size: 1.3rem;
  background: #000000;
  color: aliceblue;
  border: none;
  padding: 0.7rem 1rem;
  margin: 2px auto;
  border-radius: 6%;
}
body .content .table-wrapper .row button:hover {
  background: #00000050;
}
body .content .table-wrapper .row .table-deaths {
  background: #48030310;
}
body .content .table-wrapper .row .table-recovered {
  background: #6efd7b10;
}
body .content .table-wrapper .row .table-cases {
  background: #cbb85410;
}
body .content .map {
  height: 45vh;
  width: 65vw;
  max-width: 900px;
}
body .content .graph {
  position: relative;
  height: 45vh;
  max-height: 45vh;
  width: 65vw;
  max-width: 900px;
  margin-top: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
