@mixin block-border {
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);

    & .max-min-btn {
			opacity: 1;
			z-index: 9000;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #09100d;
  color: aliceblue;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3b393950;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000050;
}

.max-min-btn {
  position: absolute;
  z-index: 9;
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  background-image: url(../assets/img/maximize.svg);
  filter: invert(0.5) drop-shadow(0 0 2px rgba(255, 255, 255, 0.75));
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, filter 0.2s;

  &:hover {
    filter: invert(0.8) drop-shadow(0 0 2px rgba(255, 255, 255, 1));
    width: 1.25rem;
    height: 1.25rem;
    top: -0.625rem;
    right: -0.625rem;
  }
}

.content-top {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  max-width: 2400px;

  >div {
    margin: 0 5px;
  }
}

.content-bot {
  display: flex;
  width: 100%;
  padding: 5px;
  max-width: 2400px;
  justify-content: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.list {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  width: 19%;
  min-width: 300px;
  height: 45vh;
  @include block-border();

  .list__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden scroll;

    .list__header {
      position: sticky;
      top: 0;
      padding: 0.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      order: -1;
      background: #351c1c;

      .keyboard-button {
        width: 1.25rem;
        height: 1.25rem;
        background-image: url(../assets/img/keyboard-button.svg);
        background-repeat: no-repeat;
        background-color: inherit;
        background-size: contain;
        background-position: center;
        border: none;
        outline: none;
        cursor: pointer;
        transition: transform 0.075s, opacity 0.075s;

        &:hover {
          transform: scale(1.2);
        }

        &:active {
          opacity: 0.5;
          transform: scale(1.1);
        }
      }

      .list__search {
        width: 30%;
      }


      .list__search,
      .list__indicator {
        background: #1e0109;
        color: aliceblue;
        border: none;
        padding: 0.3rem;
        outline-color: #5c1010;
      }
    }

    .list__row {
      display: flex;
      justify-content: space-between;
      cursor: default;

      >div:first-child {
        padding: 0 0 0 24px;
        background-position: 0;
        background-size: 1rem;
        background-repeat: no-repeat;
        width: 100%;
      }

      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
      }
    }

    .list__row_active {
      font-weight: bold;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
      color: white;
    }
  }


}

.table-wrapper {
  position: relative;
  width: 19%;
  min-width: 100px;
  @include block-border();
}

.row {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;

  div {
    padding: 1rem;
  }
}

.table-deaths {
  background: #32020245;
}

.table-recovered {
  background: #6efd7b10;
}

.table-cases {
  background: #cbb85410;
}

.map-wrapper {
  position: relative;
  width: 59%;
  max-width: 1024px;
	max-height: 675px;
  @include block-border();
}

.map {
  width: 100%;
  height: 100%;
}

.leaflet-top,
.legend {
  line-height: 18px;
  background: #351c1c90;
  margin: 0;
}

.info {
  width: 140px;
}

.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.graph {
  position: relative;
  width: 59%;
  max-width: 1004px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 0.5rem;
  transition: background 0.2s;
  @include block-border();

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

button {
  width: 100%;
  cursor: pointer;
  font-size: 1.3rem;
  background: #000000;
  color: aliceblue;
  border: none;
  padding: 0.7rem 1rem;
  margin: 2px auto;
  border-radius: 6%;

  &:hover {
    background: #00000050;
  }
}
